.MainContainer {
  padding: 12px;
  padding-top: 4px;
  margin-top: 4px;
  border: 4px white solid;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 16px;
  max-width: 640px;
}

.ProfilePic {
  display: flex;
  align-self: center;
  max-width: 100%;
  border-radius: 50%;
  border: 4px white solid;
}

.Stretchy {
  align-items: stretch;
}
