.App {
  display: grid;
  grid-template-columns: 1fr 96px;
  grid-template-rows: 1px 1fr;
  height: 100vh;
}

.ContainMe {
  grid-column-start: 1;
  padding: 120px;
  height: Calc(100vh - 240px);
}

.Main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 48px;
}

.ProfilePic {
  grid-column-start: 2;
}

.PortfolioSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 48px;
}

.PseudoBorder {
  padding-left: 4px;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

.NavList {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
}
