.App {
  display: grid;
  grid-template-rows: 120px 1fr;
  height: 100vh;
}

.Main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50% 50%;
  grid-gap: 48px;
}

.MainContainer {
  margin-top: 48px;
  grid-row-start: 1;
  grid-row-end: 3;
}

.ProfilePic {
  grid-row-start: 1;
  grid-column-start: 2;
  margin: 48px;
  height: Calc(100% - 96px);
}

.PortfolioSection {
  margin-top: 48px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 48px;
}

.PseudoBorder {
  padding-bottom: 16px;
  grid-row-start: 1;
}

.NavList {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
}

.Sidebar {
  padding-bottom: 12px;
}
