.Sidebar {
  background-color: #373d3f;
}

.NavList {
  color: white;
  list-style: none;
}

i {
  font-size: 48px;
}

a {
  color: white;
}

a:hover {
  transition: 0.3s;

  color: #ff8ae4;
  text-decoration: none;
}

.WordNav {
  font-size: 12px;
}

.UpperCaseLetter {
  font-size: 36px;
}

.NavListItem {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.PseudoBorder {
  background-image: linear-gradient(#ff8ae4, #9149d6);
}

.Sidebar {
  height: 100%;
}

.PortfolioLink {
  transition: 0.3s;
  color: #9149d6;
}
