@media (min-width: 1px) and (max-width: 480px) {
  .App {
    display: grid;
    height: 100vh;
  }

  .Main {
    display: grid;
    height: calc(100% - 4px);
    overflow-y: scroll;
    h1 {
      margin-bottom: 0;
      grid-row: 1;
    }
    h3 {
      margin-top: 1vw;
    }
  }

  .ProfilePic {
    grid-row: 2;
    margin: 24px;
    width: calc(100% - 48px);
  }

  .PortfolioSection {
    margin-top: 48px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 48px;
  }

  .PseudoBorder {
    padding-bottom: 4px;
    grid-row-start: 1;
    height: 103px;
  }

  .NavBar {
    padding-bottom: 12px;
  }

  .NavList {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }

  .NavListItem {
    min-width: 25%;
  }

  .WordNav {
    min-width: 50%;
  }
}
