@media (min-width: 481px) and (max-width: 700px) {
  .App {
    display: grid;
    height: 100vh;
  }

  .Main {
    min-height: calc(1vh - 103px);
    max-height: calc(1vh - 103px);
    display: grid;
    overflow-y: scroll;
    h1 {
      margin-bottom: 0;
      grid-row: 1;
    }
    h3 {
      margin-top: 1vw;
    }
  }

  .ProfilePic {
    grid-row: 2;
    margin: 48px;
    width: calc(100% - 96px);
  }

  .PortfolioSection {
    margin-top: 48px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 48px;
  }

  .PseudoBorder {
    padding-bottom: 16px;
    grid-row-start: 1;
  }

  .NavBar {
    padding-bottom: 12px;
  }

  .NavList {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }

  .NavListItem {
    min-width: 25%;
  }

  .WordNav {
    min-width: 50%;
  }
}
